body {
  background-image: linear-gradient(to right, #A06CD5, #6247AA);
  height: 100vh;
  display: flex;
  font-family: 'Prata', serif;
  justify-content: center;
  align-items: center;
}

.quote-box {
  background-color: #062726;
  color: #E2CFEA;
  width: 600px;
  height: 300px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  float: left;
}

.quote-body {
  font-size: 1.5rem;
  color: #E2CFEA;
}

.author {
  font-size: 1.2rem;
  color: #a096a3;
}

img {
  max-height: 300px;
  float: left;
  margin-right: 10px;
}


.btns {
  display: flex;
  gap: 10px;
}

a {
  color: white;
}

.next {
  cursor: pointer;
}

a:hover {
  color: #A06CD5;
}

.next:hover {
  color: #A06CD5;
}