body {
  background-image: linear-gradient(to right, #A06CD5, #6247AA);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-box {
  background-color: #062726;
  color: #E2CFEA;
  width: 600px;
  height: 300px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}